h1{
    color: red;
}
div:nth-child(2n):hover{
    color:yellow;
    background-color: red;
}
div:nth-child(2n + 1):hover{
    color:yellow;
    background-color: blue;
}
h1:hover{
    color:white;
    background-color: red;
}
div{
    color:red;
    background-color: yellow;
}