h1{
    color: white;
    background-color: red;
}
div :nth-child(2n){/*per esempio in caso voglio i figli pari scrivo questo*/
    color:yellow;
    background-color: red;
}
div :nth-child(2n + 1){/*per esempio in caso voglio i figli dispari scrivo questo*/
    color:yellow;
    background-color: blue;
}